<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>

        <behavior name="TaskQueueClientService.InstanceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling />
          <serviceTimeouts transactionTimeout="00:02:00" />
        </behavior>

        <behavior name="TaskQueueWorkerService.InstanceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling />
          <serviceTimeouts transactionTimeout="00:02:00" />
        </behavior>

      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>

        <binding name="TaskQueueClientServiceBinding" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" closeTimeout="00:01:00">
          <transactionFlow allowWildcardAction="false" />
          <reliableSession flowControlEnabled="true" inactivityTimeout="00:20:00" maxPendingChannels="64" />
          <binaryMessageEncoding compressionFormat="None" maxReadPoolSize="64" maxSessionSize="2048" maxWritePoolSize="16">
            <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="64" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          </binaryMessageEncoding>
          <tcpTransport channelInitializationTimeout="00:30:00" connectionBufferSize="8192" hostNameComparisonMode="StrongWildcard" listenBacklog="64" manualAddressing="false" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxPendingConnections="64" maxReceivedMessageSize="2147483647" transferMode="Buffered">
            <connectionPoolSettings />
            <extendedProtectionPolicy protectionScenario="TransportSelected" policyEnforcement="Never" />
          </tcpTransport>
        </binding>

        <binding name="TaskQueueWorkerServiceBinding" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" closeTimeout="00:01:00">
          <transactionFlow allowWildcardAction="false" />
          <reliableSession flowControlEnabled="true" inactivityTimeout="00:20:00" maxPendingChannels="64" />
          <binaryMessageEncoding compressionFormat="None" maxReadPoolSize="64" maxSessionSize="2048" maxWritePoolSize="16">
            <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="64" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
          </binaryMessageEncoding>
          <tcpTransport channelInitializationTimeout="00:30:00" connectionBufferSize="8192" hostNameComparisonMode="StrongWildcard" listenBacklog="64" manualAddressing="false" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxPendingConnections="64" maxReceivedMessageSize="2147483647" transferMode="Buffered">
            <connectionPoolSettings />
            <extendedProtectionPolicy protectionScenario="TransportSelected" policyEnforcement="Never" />
          </tcpTransport>
        </binding>

      </customBinding>
    </bindings>
    <services>

      <service behaviorConfiguration="TaskQueueClientService.InstanceBehavior" name="Ois.TaskQueues.Communication.TaskQueueClientService">
        <endpoint address="tqservice" binding="customBinding" bindingConfiguration="TaskQueueClientServiceBinding" contract="Ois.TaskQueues.Communication.ITaskQueueClientService" />
      </service>

      <service behaviorConfiguration="TaskQueueWorkerService.InstanceBehavior" name="Ois.TaskQueues.Communication.TaskQueueWorkerService">
        <endpoint address="tqservice" binding="customBinding" bindingConfiguration="TaskQueueWorkerServiceBinding" contract="Ois.TaskQueues.Communication.ITaskQueueWorkerService" />
      </service>

    </services>
  </system.serviceModel>
</configuration>