<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
  <!-- TARGETS -->
  <targets async="false">

    <target name="FileTarget"
            xsi:type="File"
            layout="${date} | ${level:uppercase=true} | ${message}${onexception:${newline}   EXCEPTION\: ${exception:format=ToString}}"
            fileName="${basedir}/Logs/TaskQueueService.log"
            archiveFileName="${basedir}/Logs/Archives/TaskQueueService.{#####}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            maxArchiveFiles="7" />

    <target name="ColoredConsoleTarget"
            xsi:type="ColoredConsole"
            layout="${date} | ${level:uppercase=true} | ${message}${onexception:${newline}   EXCEPTION\: ${exception:format=ToString}}"
            useDefaultRowHighlightingRules="true"
            encoding="unicode" />

  </targets>
  <!-- END TARGETS -->

  <!-- VARIABLES -->
  <variable name="logkey" value="TaskQueueService" />
  <variable name="text" value="${message}" />
  <variable name="tags" value="${level}" />
  <variable name="user" value="${identity:authType=false:isAuthenticated=false}" />
  <variable name="source" value="${machinename}" />
  <variable name="data" value="" />
  <variable name="br" value="&lt;br/&gt;" />
  <variable name="+b" value="&lt;b&gt;" />
  <variable name="-b" value="&lt;/b&gt;" />
  <variable name="ex-text" value="${message}: ${exception}" />
  <variable name="ex-data" value="@html${newline}${+b}Exception:${-b} ${exception}${br}${br}${+b}Stack Trace:${-b}${stacktrace}" />
  <!-- END VARIABLES -->

  <!-- RULES -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="FileTarget" />
    <logger name="*" minlevel="Trace" writeTo="ColoredConsoleTarget" />
  </rules>
  <!-- END RULES -->
</nlog>